<!DOCTYPE html>
    <html>
            <head>                   

            </head>
                    
          <body>
              <h1>Homepage<h1/>
              <a href='/login'>Sigin</a>
              </br>
              <a href='/register'>Create Account</a>
        </body>
                        
</html>