<!DOCTYPE html>
    <html>
            <head>                   

            </head>
                    
          <body>
             <form id='login-form' method='POST' action='/login' >
                <input type='text' placeholder='username' name="username" value="<%= qs.username %>"/>
                <br>
                <input type='text' placeholder='password' name="password" value="<%= qs.password %>"/>
                </br>
                <input type='submit' value='Login'/>
            </form>
        </body>
                        
</html>