<!DOCTYPE html>
    <html>
            <head>                   

            </head>
                    
          <body>
              <h1>Welcome to the profile of <%= person %></h1>
              <p><strong>Age: </strong><%= data.age %></p>
              <p><strong>Job: </strong><%= data.job %></p>
                <input type='button' value='Specific Email'/>
                </br>
               <input type='button' value='Send Email'/>
                </br>
               <input type='button' value='Delete Email'/>
               </br>
        </body>
                        
</html>